.seguirComprando {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.bordeTuCarro {
    border-bottom: 2px solid black;
}

.bordeTCNaranja {
    border-bottom: 6px solid #FF890B;
}

.imagenCarrito {
    width: 200px;
}

.carritoEntero {
    margin: 17px;
}

/* ============ ITEM CARRITO   ============ */
.itemCarrito {
    margin: 10px 0;
    display: flex;
}

/* izquierda */
.itemCarrito_titulos {
    margin: 26px 10px;
}

.itemCarrito_titulos h5 {
    margin-bottom: 10px;
}

/* mid */
.itemCarrito_mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.itemCarrito_precio {
    color: #0A7A00;
}

.itemCarritoQuitar {
    font-size: 15px;
    color: red;
    border-bottom: 1px solid red;
    cursor: pointer;
}

/* derecha */
.itemCarrito_derecha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCarrito_img {
    max-width: 120px;
}