.itemDetail {

    padding-top: 50px !important;
    padding-left: 20px !important;
}

.item__img__box {
    border: 1px solid #E6E6E6;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25); */
}

.item__img {
    width: 100%;
}

.probando {
    position: relative;
    height: 50px;
}

.itemDetail__info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 26px 26px 0px 0px;
    height: 40px;
    background: white;
}

.izquierda {
    position: absolute;
    width: 100%;
}

.derecha {
    position: absolute;
    width: 82%;
    right: 0;
    margin-right: 60px;
}

.selected {
    z-index: 2;
    background: #F0F0F0;

}

.itemDetail__tracklist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 19rem;

}

.itemDetail__tracklist p {
    width: 50%;
    margin: 6px 0;
}

.itemDetailBox {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 12px 24px;
    margin-right: 60px;
    text-transform: capitalize;

}

.itemDetailPrice {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

.itemDetailPrice h2 {
    color: #56B280;
}

.related {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
}

.related h5 {
    margin: 8px;
    font-weight: 600;
    /* font-size: 16px; */
    /* line-height: 19px; */
}