.navArriba {
    display: flex;
    height: 55px;
    background-color: #8A8C41;
    position: relative;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;

}

/* logos  */
.navDisco {
    position: absolute;
    width: 190px;
    height: 63px;
    right: 23%;
    top: 0;
    z-index: 3;
}

.navLogo {
    width: 100px;
    right: 35%;
    /* top: 0; */
    position: absolute;
    z-index: 3;

}

/* menu */
.navMenu {
    display: none;
}

.navMenu_mvl_icon {
    font-size: 44px !important;
    color: white;
    margin-left: 18px;
}

/* carrito  */
.navCarrito {
    margin-right: 33px;
}

.link {
    color: white;
}