.footer {
    display: none
}

/* ____________________________________________________________________*/
/* ############################ Tablet ############################### */
/* ____________________________________________________________________*/
@media (min-width:768px) {

    .footer {
        margin-top: 3rem;
        display: block;
        background-color: black;
    }

    .logo {
        margin: 0 0 20px 55px;
        width: 150px;
    }

    .footer__txts {
        color: white;

    }

    .footer__txts ul li {
        list-style: none;
    }

    .footer__txts__seccs {
        display: flex;
        justify-content: space-between;
    }
}